
/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* FIM RESET CSS */



ul#jogadorEscolha li a:hover, 
ul#jogadorEscolha li a.selecionado,
ul#computadorEscolha li a.selecionado{
    opacity: 1;
    
}

ul#jogadorEscolha li a,
ul#computadorEscolha li a{
    opacity: 0.2;
    transition: ease-in-out 0.2s;
}

body{
    background-image: url(img/Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: 'Bungee', cursive;
    color: white;
    text-align: center;
    margin-top: 50px;
}

h2{
    font-family: 'Bungee', cursive;
    font-size: 25px;
    margin-top: 6%;
    margin-left: 2%;
}

#jogador{
    display: flex;
    background-color: deepskyblue;
}

#computador{
    display: flex;
    background-color: crimson;
}

a{
    display: flex;
    justify-content: center;
}

#jogadorEscolha {
    display: flex;
    gap: 100px;
    margin-left: 175px;
    
}

#computadorEscolha{
    display: flex;
    gap: 100px;
    margin-left: 175px;
    
}

#computadorPontos{
    font-family: 'Bungee', cursive;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 6%;
}

#jogadorPontos{
    font-family: 'Bungee', cursive;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 6%;
    color: deepskyblue;
}

#computadorPontos{
    font-family: 'Bungee', cursive;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 6%;
    color: crimson;
}

li{
    display: flex;
    justify-content: center;
}

.contra{
    display: flex;
    justify-content: space-around;
    margin-top: -70px;
}

#versus{
    margin-top: 5%;
    font-size: 30px;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    
}


#principal{
    background-color: black;
    border-left: 10px black solid;
    border-right: 10px black solid;
    font-family: 'Bungee', cursive;
    color: white;
}

#mensagem{
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 30px;
}